<div class="wrapper">
  <form class="form-signin" (ngSubmit)="authorize()" method="post" autocomplete="off">       
    <h2 class="form-signin-heading">Login</h2>
    <input type="text" class="form-control" name="username" placeholder="Email Address" ngNativeValidate required autofocus [(ngModel)]="accountModel.username"  />
    <input type="password" class="form-control" name="password" placeholder="Password" ngNativeValidate required [(ngModel)]="accountModel.password"/>      

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
  </form>
</div>




  